.container {
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #c1d37f;

    overflow: hidden;
}
.center {
}
.planet {
    position: absolute;
    background-color: #c2143a;
    border-radius: 50%;
    position: absolute;
}
.drill {
    position: absolute;
    top: -5px;
    left: -8px;
    width: 16px;
    height: 10px;
    background-color: #d2a94c;
    border-radius: 50% 0 0 50%;
    transition: transform 300ms linear;
}
