.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bank {
}
.inFlow {
}
.outFlow {
}
.detail {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
