.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.bank {
    min-width: 50px;
    text-align: right;
}
.inFlow,
.outFlow {
    min-width: 40px;
    text-align: right;
}
.detail {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
