.container {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
}
.drillStructure,
.drillHead {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.drillStructureWrapper,
.drillHeadWrapper {
    position: absolute;
    transform-origin: center bottom;
}
.drillHeadWrapper {
    position: absolute;
    transform-origin: center;
}

.drillStructureWrapper {
    width: 46px;
    height: 99px;
    bottom: 3px;
    left: -23px;
}
.drillStructure {
    width: 100%;
    height: 100%;
    animation-name: drillStructureAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes drillStructureAnimation {
    0% {
        transform: scale(1, 1);
    }
    70% {
        transform: scale(1, 0.94) translate3d(0, 4px, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.drillStructure.type1 {
    background-image: url(../../../asset/image/petitedrillmerde.png);
}
.drillStructure.type2 {
    background-image: url(../../../asset/image/petitedrillcon.png);
}
.drillStructure.type3 {
    background-image: url(../../../asset/image/petitedrillluxe.png);
}
.drillStructure.type4 {
    background-image: url(../../../asset/image/petitedrill6c.png);
}

.drillHeadWrapper {
    width: 33px;
    height: 74px;
    top: -37px;
    left: -16.5px;
    transition-property: transform;
    transition-timing-function: linear;
}
.drillHead {
    width: 100%;
    height: 100%;
    animation-name: drillHeadAnimation;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes drillHeadAnimation {
    0% {
        transform: scale(1, 1);
    }
    50% {
        transform: translate3d(0, -6px, 0);
    }
    100% {
        transform: scale(1, 1);
    }
}

.drillHead.type1 {
    background-image: url(../../../asset/image/visdrillmerde.png);
}
.drillHead.type2 {
    background-image: url(../../../asset/image/visdrillcon.png);
}
.drillHead.type3 {
    background-image: url(../../../asset/image/visdrillluxe.png);
}
.drillHead.type4 {
    background-image: url(../../../asset/image/visdrill6c.png);
}

.derrick {
    position: absolute;
    width: 280px;
    height: 280px;
    top: -275px;
    left: -120px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../asset/image/piedforeuse.png);
    transform-origin: 120px 275px;
}
.derrickHammer {
    position: absolute;
    width: 280px;
    height: 280px;
    left: 0px;
    top: 0px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../asset/image/marteauforeuse.png);
    transform-origin: 130px 77px;

    animation-name: hammerAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
@keyframes hammerAnimation {
    0% {
        transform: rotateZ(0);
    }
    80% {
        transform: rotateZ(-45deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.bubbleWrapper {
    position: absolute;
    top: 0;
    left: 0;
}
.bubble {
    position: absolute;
    width: 40px;
    height: 20px;
    left: -20px;
    top: -10px;
    transform-origin: center;
    /*background-color: tomato;*/

    animation-name: bubbleAnimation;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-duration: 400ms;
    opacity: 0;

    text-align: center;
}
.bubbleDrill {
}
.derrickDrill {
}
@keyframes bubbleAnimation {
    0% {
        transform: scale(1, 1);
        opacity: 1;
    }
    20% {
        transform: scale(1.3, 1.3);
        opacity: 1;
    }
    50% {
        transform: scale(1.05, 1.05);
        opacity: 1;
    }
    80% {
        transform: scale(1, 1);
        opacity: 0.5;
    }
    100% {
        transform: scale(1, 1);
        opacity: 0;
    }
}
