.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.item {
    width: 100px;
    height: 100px;
    position: relative;

    cursor: pointer;

    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 10px;
}
.icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    transition: filter 300ms ease;
    animation: bump 300ms ease;
}
@keyframes bump {
    0% {
        transform: scale(1, 1);
    }
    40% {
        transform: scale(1.2, 1.2);
    }
    100% {
        transform: scale(1, 1);
    }
}
.locked {
    filter: saturate(0);
    animation: none;
}
.type1 {
    background-image: url(../../asset/image/iconedrillmerde.png);
}
.type2 {
    background-image: url(../../asset/image/iconedrillcon.png);
}
.type3 {
    background-image: url(../../asset/image/iconedrillluxe.png);
}
.type4 {
    background-image: url(../../asset/image/iconedrill6c.png);
}

.priceTag {
    position: absolute;
    right: -10px;
    left: -10px;
    height: 20px;
    border-radius: 4px;
    top: calc(50% - 10px);
    background-color: rgb(119, 28, 28);
    transform: rotateZ(45deg);
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
}
